.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
inst/doc
sccomp.Rproj
Meta
doc
sccode_env*
#src/stanExports*
slurm*
makeflow*
dmbvs-pid-50624.out
dmbvs-pid-39940.out
model_glm_dirichlet_multinomial.rds
model_glm_dirichlet_multinomial_generate_quantities.rds
model_glm_dirichlet_multinomial_imputation.rds
rsconnect
dev/*csv
dev/*rds
dev/*rda
dev/*pdf
dev/dplyr-master/*
#dev/bench_pipeline*
#dev/article_figures*
dev/metagenomics*
dev/rlm_robust*
dev/scCODA*
dev/cytof*
dev/qq_plot_simulations*
dev/study_of_association*
dev/*.gz
dev/*csv
dev/reproducible_example_beta_binomial_truncated
glm_multi_beta_binomial_cmdstanr
glm_multi_beta_binomial_cmdstanr.rds
glm_multi_beta_binomial_cmdstanr.stan
glm_multi_beta_binomial_generate_cmdstanr
glm_multi_beta_binomial_generate_cmdstanr.rds
glm_multi_beta_binomial_generate_cmdstanr.stan
._*
Rplot.pdf
/doc/
/Meta/
sccomp_draws_files
