.Rproj.user
.Rhistory
.RData
.Ruserdata
README_cache/*
vignettes/introduction_cache*
sccomp.Rproj
Meta
doc
dev/*csv
dev/*rds
dev/*rda
dev/*pdf
dev/dplyr-master/*
dev/reproducible_example_beta_binomial_truncated
src/stanExports*
slurm*
makeflow*
dev/benchmark*
dev/*.gz
dev/*csv
